.App {
  text-align: center;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.nodeCnt{
  position: relative;
  display: flex;
  float: left;
  -webkit-animation:bounceIn 2s;
}
.mainNode{
  color: red;
    position: absolute;
    top: 30px;
    width: 180px;
    cursor: pointer;
}

.node{
    float: left;
    
    position: relative;
}
.childnodeCnt{
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  margin-left: 330px;
}
.border-line {
    border-top: 1px solid black;
    position: absolute;
    width: 100px;
    top: 50%;
}
.border-line-main{
    position: absolute;
    top: 38px;
    left: 170px;
    width: 160px;
    border-top: 1px solid black;
}
.main-nd-cnt{
      position: relative;
}
.node-el{
    padding: 8px;
    border: 1px solid black;
    margin: 10px;
    margin-left: 100px;
    cursor: pointer;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
